body {
  margin: 0;
  /* stylish font */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/moments-background-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  width: 100vw;
}
